<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.2.2/css/bootstrap.min.css}">
</head>
<body>
<header class="p-3 text-bg-light">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h1 class="text-dark"><a href="/" class="text-decoration-none">BlogApplication</a></h1>
        </div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-evenly mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Overview</a></li>
            <li><a href="/" class="nav-link px-2 link-dark">Inventory</a></li>
            <li><a href="/" class="nav-link px-2 link-dark">Customers</a></li>
        </ul>
    </div>
</header>

<article class="mt-3 w-75 m-auto mb-1" th:each="post: ${posts}">
    <a class="text-decoration-none" th:href="'post/'+${post.getId}"><h2 class="blog-post-title mb-1" th:text="${post.getTitle}">Blog Title</h2></a>
    <p class="blog-post-meta mb-1" th:text="'Created at: '+${#temporals.format(post.getCreatedAt, 'yyyy-MM-dd HH:mm')}">Created At:</p>
    <hr>
    <p th:text="${post.getContent}">Content</p>
</article>
<script th:src="@{webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>