<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.2.2/css/bootstrap.min.css}">
</head>
<body>
<header class="p-3 text-bg-light">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="text-decoration-underline">BlogApplication</a>
        </div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Overview</a></li>
            <li><a href="/" class="nav-link px-2 link-dark">Inventory</a></li>
            <li><a href="/" class="nav-link px-2 link-dark">Customers</a></li>
        </ul>
    </div>
</header>
<script th:src="@{webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>