<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SpringBoot</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
  <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>
<body>
<header class="p-3 text-bg-light">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <h1 class="text-dark"><a href="/" class="text-decoration-none">BlogApplication</a></h1>
    </div>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-evenly mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Overview</a></li>
      <li><a th:href="@{/addpost}" class="nav-link px-2 link-dark">Add New Post</a></li>
      <li th:if="${authName == 'anonymousUser'}"><a href="/login" class="nav-link px-2 link-dark">Log In</a></li>
      <li th:unless="${authName == 'anonymousUser'}"><a href="/logout" class="nav-link px-2 link-dark">Log Out</a></li>
    </ul>
  </div>
</header>

<div class="form-signin w-50 m-auto">
  <div th:if="${param.error}" class="alert alert-danger">
    Bad Credentials
  </div>
  <form action="/perform-login" method="POST">
    <h3>Log In</h3>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="username" placeholder="Username" id="username">
      <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" name="password" placeholder="Password" id="password">
      <label for="password">Password</label>
    </div>
    <div class="mb-3">
      <input type="checkbox" name="remember-me" id="remember-me">Remember Me
      <label for="remember-me"></label>
    </div>
    <button type="submit" class="w-50 btn btn-lg btn-primary">Login</button>
  </form>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>

  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>
</footer>

</body>
</html>